.logo {
  margin: auto;
  display: block;
  color: white;
}

.login, .image {
  min-height: 100vh;
}

.bg-image {
  background: linear-gradient( to bottom, rgba(0, 255, 114, 0.82), rgba(30, 202, 178, 0.95)), url(/assets/images/back.jpg);
  background-size: cover;
  background-position: center;
}

.login-font {
  font-weight: 300;
}

.btn-login {
  margin-top: 15px;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.12), 0 6px 6px rgba(0, 0, 0, 0.08);
}

.btn-login:hover {
  background-position: right center;
  color: white;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group>input, .form-label-group>label {
  height: auto;
  border-radius: 2rem;
}

.row {
  margin: 0px;
}
